name: CI Factorial

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.12"]

    steps:
      - name: Checkout del repositorio
        uses: actions/checkout@v6 
      - name: Configurar Python
        uses: actions/setup-python@v6 
        with:
          python-version: ${{ matrix.python-version }}
          cache: "pip"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Análisis de código (pylint)
        run: pylint --fail-under=8 factorial.py 

      - name: Ejecutar pruebas (pytest)
        run: pytest -q